# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# images
frontend/public/images-adocao
frontend/public/images-doacao

frontend/public/images-conta/*
!frontend/public/images-conta/usernovo.png

# misc
npm-debug.log*
Comandos.txt
